.layer1{
    width: 450px;
    /* border: 1px solid rgb(207, 207, 207); */
    margin-top: 200px;
    border-radius: 8px;
    box-shadow: 0 0 25px 1px rgb(235, 235, 235);
    padding-bottom: 18px;
}
.titlelayer{
    background-color: #e62828;
    color: whitesmoke;
    height: 45px;
  
}
.titlelayer h6{
    padding-top: 13px;
    font-family: 'Segoe UI';
}
table{
    width: 90%;
}
.btn{
    width: 80%;
}
.form{
    margin-top: 15px;
    width: 80%;
    text-align: center;
}